
  body{

      background-color:palevioletred ;
      border: 2px #be5679;
      margin: 160px;

      font-family: Georgia;
      color: #ffdfff;
}

@media screen and (max-width: 768px){
  
  h1{
    font-size: 28px;
  }
  
  .visual1{
    margin:20px;
  }
  .visual2{
    margin:20px;
  }
  .visual3{
    margin:20px;
  }
  .visual4{
    margin: 20px 90px;
  }
  .visual5{
    margin: 20px 90px;
  }
  
  .button{
    padding: 5px 10px;
  }
}

  hr{

    border-style: none;
    border-top-style: dotted;
    border-color: #ffc2e5;
    border-width: 5px;
    width: 10%;
    margin: 160px;

  }

  h1{

  font-style: italic;
  font-size: 526.5%;

  }

  .info{

    border-radius: 30px;
    background-color: #f98bae;
    width: 50%;
    padding: 5px 30px 20px 30px;
    margin: auto;
    text-align: left;
    line-height: 2;

  }

.card-ph{

  float: right;
  margin: 10px;

}


  .visual{

    float: center;
    border-radius: 30px;
    box-shadow: 0 14px 28px;
    border-color: #be5679;
    background-color: #f98bae;
    width: 50%;
    padding: 20px;
    margin: 50px;
    text-align: left;
    line-height: 2;


  }


  .card-img{

    float: right;
    margin-bottom: 60px;


  }

  .visual1{

    float: left;
    border-radius: 30px;
    background-color: #f98bae;
    width: 20%;
    padding: 10px;
    margin: 50px;
    text-align: center;
    line-height: 2;


  }


  .card-img1{

    float: inherit;
    margin-bottom: 30px;

  }

  .visual2{

    float: left;
    border-radius: 20px;
    background-color: #f98bae;
    width: 20%;
    padding: 10px;
    margin: 50px;
    text-align: center;
    line-height: 2;


  }


  .card-img2{

    float: inherit;
    margin-bottom: 30px;

  }


  .visual3{

    float: left;
    border-radius: 20px;
    background-color: #f98bae;
    width: 20%;
    padding: 10px;
    margin: 50px;
    text-align: center;
    line-height: 2;


  }

  .card-img3{

    float: inherit;
    margin-bottom: 30px;

  }

  .education{

    text-decoration: none;
    border-color: #f98bae;
    border-radius: 10px;
    border-width: 25px;
    color:  #ffdfff;
    text-decoration-color:  #ffdfff;
    padding: 5px;
    margin: 5px;

  }


    .visual4{

      float: left;
      border-radius: 30px;
      box-shadow: 0 14px 28px;
      background-color: #f98bae;
      width: 22%;
      padding: 10px;
      margin: 50px 120px;
      text-align: left;
      line-height: 1;


    }


        .visual5{

          float: left;
          border-radius: 30px;
          box-shadow: 0 14px 28px;
          background-color: #f98bae;
          width: 22%;
          padding: 10px;
          margin: 50px 120px;
          text-align: left;

        }

  .details{

    float: left;
    border-radius: 10px;
    box-shadow: 0 14px 28px;
    background-color: #f98bae;
    width: 30%;
    padding: 10px;
    margin: 50px 70px;
    text-align: left;
    line-height: 0.75;

  }

.contact{

float: none;
margin: 70px ;
width: 70%;
text-align: right;

  }

  .button {
    background: #d93497;
    background-image: -webkit-linear-gradient(top, #d93497, #b82b42);
    background-image: -moz-linear-gradient(top, #d93497, #b82b42);
    background-image: -ms-linear-gradient(top, #d93497, #b82b42);
    background-image: -o-linear-gradient(top, #d93497, #b82b42);
    background-image: linear-gradient(to bottom, #d93497, #b82b42);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 10%;
  }

  .button:hover {
    background: #fc3cc9;
    background-image: -webkit-linear-gradient(top, #fc3cc9, #b02a2a);
    background-image: -moz-linear-gradient(top, #fc3cc9, #b02a2a);
    background-image: -ms-linear-gradient(top, #fc3cc9, #b02a2a);
    background-image: -o-linear-gradient(top, #fc3cc9, #b02a2a);
    background-image: linear-gradient(to bottom, #fc3cc9, #b02a2a);
    text-decoration: none;
  }
